.App {
  text-align: center;
}
.input-wrapper {
  display: flex;
  justify-content: center;
}
/* .pd_10px {
    padding: 10px;
}
.mgb_10px {
    margin-bottom: 20px;
} */
a {
  text-decoration: none;
}
.grid {
  display: grid;
  justify-content: center;
  justify-items: center;
}
table {
  width: 100%;
}

.ex {
  margin-bottom: 20px;
}
.question {
  display: flex;
  justify-content: center;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
  outline: none;
  border: none;
  width: 300px;
}
input:hover {
  outline: none;
  border: none;
}
